<ion-header translucent *ngIf="notFound == false">
    <ion-toolbar>
        <ion-title> {{ ra }} </ion-title>
        <ion-buttons slot="end">
            <ion-button (click)="dismiss()">Close</ion-button>
        </ion-buttons>
    </ion-toolbar>
</ion-header>
<ion-content *ngIf="notFound == false" >
    <div style="display:flex; justify-content: center; margin:20px;" >
        <ion-avatar>
            <img src="https://ionicframework.com/docs/demos/api/avatar/avatar.svg">
        </ion-avatar>
    </div>
    <div style="display:flex; justify-content: center; align-items: center; flex-direction: column; color: white;">
        <ion-label>Nome: {{ student?.nome }}</ion-label>
    </div>
    <ion-item class="faltas">
        <ion-label>Quantidade de faltas:</ion-label>
        <ion-label>{{ faults }}</ion-label>
    </ion-item>
</ion-content>

<ion-content *ngIf="notFound == true" >
        <ion-button (click)="dismiss()">Close</ion-button>
<p>ALUNO NAO ENCONTRADO</p>
</ion-content>