<ion-header>
  <ion-toolbar>
    <ion-title>Chamadas</ion-title>
    <ion-buttons slot="start">
      <ion-menu-button menu="menu1" autoHide="false"></ion-menu-button>
    </ion-buttons>
    <ion-buttons slot="end">
      <ion-back-button defaultHref="/"></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>
<ion-content fullscreen>
  <div class="flex">

    <mat-expansion-panel *ngFor="let turma of lista">
      <mat-expansion-panel-header>
        <mat-panel-title>
          {{turma.nomeTurma}}
        </mat-panel-title>
      </mat-expansion-panel-header>

      <mat-expansion-panel *ngFor="let aula of aulas">
        <mat-expansion-panel-header>
          <mat-panel-title>
            {{aula.data}}
          </mat-panel-title>
        </mat-expansion-panel-header>
        <table>
          <tr *ngFor="let aluno of aula.alunos">
            <td>{{aluno.nome}}</td>
            <td *ngIf="aluno.presence == true" style="color: chartreuse;">Presente</td>
            <td *ngIf="aluno.presence == false" style="color: crimson; font-weight: bold;">Falta</td>
          </tr>
        </table>
      </mat-expansion-panel>

    </mat-expansion-panel>
  </div>
</ion-content>