//resets
ion-content {
    --keyboard-offset:0px !important;
}

p {
    margin-block-start: 0;
    margin-block-end: 0;
}

//resets


.conteudo-container {
    width: 100%;
    height: 100%;
    background: linear-gradient(180deg, #052725 0%, #160533 72.66%);
    position: relative;

    .titulo-container {
        display: flex;
        width: 100%;
        height: 300px;
        background: #1E4AA0;
        position: absolute;

        .titulo-texto-container {
            display: flex;
            justify-content: flex-start;
            align-items: center;
            width: 100%;
            height: 100%;
            position: absolute;

            .titulo-texto {
                font-family: Roboto;
                font-style: normal;
                font-weight: 300;
                font-size: 48px;
                line-height: 56px;
                color: #FFFFFF;
                margin-left: 15px;
            }
        }

        .books-img-container {
            display: flex;
            justify-content: center;
            align-items: center;
            padding-top: 75px;
            width: 100%
        }
    }

    .cadastro-container {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
        height: 100%;
        position: absolute;

        .cadastro {
            width: 295px;
            height: 257px;
            background: #2C2954;
            border-radius: 15px;
            margin-top: 40px;
            display: flex;
            justify-content: center;
            align-items: center;
            flex-direction: column;

            .cadastro-campos {
                text-align: center;
                width: 250px;
                height: 30px;
                background: #4F4C7D;
                color: #fff;
                border-radius: 20px;
                border: 0px;
                margin: 15px;
                appearance: none;
                -moz-appearance: none;
                -webkit-appearance: none;
                z-index: 1;
            }

            .cadastro-campos:nth-child(3n) {
                background: url(../../../assets/img/arrow-down.png) no-repeat #4F4C7D;
                background-position: 95% 50%;
            }

            .opcao-turma:not(:checked), select:invalid{
                color: #fff;
            }

            select  {
                color: #fff;
            }

            ::placeholder {
                color: #fff;
            }
            .campo-ra-info {
                display: flex;
                align-items: center;
                height: 30px;

                .icon-info {
                    display: flex;
                    justify-content: flex-end;
                    align-items: center;
                    width: 286px;
                    height: 30px;
                    position: fixed;
                    
                    ion-icon {
                        box-sizing: initial;
                        color: white;
                        width: 20px;
                        height: 20px;
                    }
                }   
            }
            
            select, input, option {
                text-align-last:center; 
                outline: none;
            }
        }
    }

    .info-ra-container{
        display: flex;
        justify-content: center;
        align-items: flex-end;
        width: 100%;
        height: 100%;
        z-index: 2;
        position: absolute;

        .info-ra {
            display: flex;
            justify-content: center;
            align-items: center;
            position: absolute;
            width: 375px;
            height: 204px;
            background: #8C1FF3;
            border-radius: 20px 20px 0 0;
        }

        .info-ra-texto {
            font-family: Roboto;
            font-style: normal;
            font-weight: 500;
            font-size: 18px;
            line-height: 21px;
            text-align: center;
            -webkit-transition-duration: 0.2s; /* Safari */
            transition-duration: 0.2s;
            color: #FFFFFF;
        }
    }

    .botao-add-turma-container {
        display: flex;
        justify-content: center;
        align-items: flex-end;
        width: 100%;
        padding-bottom: 20px;
        position: fixed;
        bottom: 15px;
        z-index: 1;

        .botao-add-turma {
            display: flex;
            align-items: center;
            justify-content: center;
            position: fixed;
            width: 250px;
            height: 30px;
            background: linear-gradient(90deg, #1BDB99 6.4%, rgba(38, 216, 154, 0) 87.2%), linear-gradient(270deg, #8C1FF3 0%, rgba(255, 255, 255, 0) 97.6%);
            box-shadow: 0px 10px 20px rgba(122, 42, 185, 0.7);
            border-radius: 20px;
            -webkit-transition-duration: 0.2s; /* Safari */
            transition-duration: 0.2s;
            outline: none;

            .texto-botao-add-turma {
                font-size: 12px;
                color: #FFFFFF;
            }
        }

        .botao-add-turma:active {
            background: linear-gradient(90deg, #0f845c 6.4%, rgba(38, 216, 154, 0) 87.2%), linear-gradient(270deg, #3f0e6d 0%, rgba(255, 255, 255, 0) 97.6%) !important;
            box-shadow: 0px 6px 19px rgba(162, 44, 255, 0.7) !important;
        }       
    }


}

