<ion-header>
  <ion-toolbar>
    <ion-title>Turmas</ion-title>
    <ion-buttons slot="start">
      <ion-menu-button menu="menu1" autoHide="false"></ion-menu-button>
    </ion-buttons>
    <ion-buttons slot="end">
      <ion-back-button defaultHref="/"></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>
<ion-content fullscreen>
  <div class="flex">

    <mat-expansion-panel *ngFor="let turma of lista">
      <mat-expansion-panel-header>
        <mat-panel-title>
          {{turma.nomeTurma}}
        </mat-panel-title>
      </mat-expansion-panel-header>
    
      <ion-item *ngFor="let aluno of turma.alunos">
        {{aluno.nome}}
      </ion-item>
    
    </mat-expansion-panel>
  </div>
</ion-content>