<ion-header>
  <ion-toolbar>
    <ion-title>Home</ion-title>
    <ion-buttons slot="start">
      <ion-menu-button menu="menu1" autoHide="false"></ion-menu-button>
    </ion-buttons>
    <ion-buttons slot="end">
      <ion-menu-button menu="menu2" autoHide="false">
        <ion-icon name="settings"></ion-icon>
      </ion-menu-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>
<ion-content fullscreen>
  <div class="flex">
    <h4 class="ion-text-center welcome-teacher">Olá, <strong>Professor!</strong></h4>
    <div class="button-actions">
      <button class="button-style first-button" routerLink="/call">Realizar chamada</button>
      <button class="button-style second-button" routerLink="/list-classes">Turmas</button>
      <button class="button-style third-button" routerLink="/edit-class/1">Editar chamadas</button>
      <button class="button-style fourth-button" routerLink="/register-student">Adicionar aluno</button>
      <!-- <button class="button-style sixth-button" routerLink="/sucess">Ação</button> -->
      <!-- <button class="button-style">Ação</button> -->
    </div>
  </div>
</ion-content>