<ion-header>
  <ion-toolbar>
    <ion-title>Home</ion-title>
    <ion-buttons slot="start">
      <ion-menu-button autoHide="false"></ion-menu-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>
<ion-content fullscreen>
  <div class="flex">
    <h2 class="ion-text-center welcome-teacher">Olá, <b>Professor!</b></h2>
    <div class="button-actions">
      <button class="button-style first-button" routerLink="/call">Realizar chamada</button>
      <button class="button-style second-button" routerLink="/register-class">Adicionar turma</button>
      <button class="button-style third-button" routerLink="/edit-class/1">Editar turma</button>
      <button class="button-style fourth-button" routerLink="/register-student">Adicionar aluno</button>
      <button class="button-style sixth-button" routerLink="/sucess">Ação</button>
      <button class="button-style">Ação</button>
    </div>
  </div>
</ion-content>