<div class="flex">
  <div class="direction-container">
    <div class="father-title">
      <h2 class="welcome-teacher position-title">Olá, <b>Professor!</b></h2>
    </div>

    <div class="button-actions">
      <button class="button-style first-button">Realizar chamada</button>
      <button class="button-style second-button">Adicionar turma</button>
      <button class="button-style third-button">Editar turma</button>
      <button class="button-style fourth-button">Adicionar aluno</button>
      <button class="button-style fifth-button">Editar aluno</button>
      <button class="button-style sixth-button">Ação</button>
      <button class="button-style">Ação</button>
    </div>
  </div>
</div>