<ion-content>
  <div class="loginPage">
    <div class="logo">
      <img src="../../../assets/img/logo.png" alt="">
    </div>

    <form class="loginForm">
      <button (click)="openPicker()">Selecione o tipo de acesso</button>
    </form>

    <div *ngIf="escolha === 'Aluno'">
      <form class="loginForm">
        <input [(ngModel)]="buscaAluno" type="text" class="userName" name="userName" placeholder="RA">
        <button class="submit">Buscar</button>
      </form>
    </div>

    <div *ngIf="escolha === 'Professor'">
      <form class="loginForm">
        <input [(ngModel)]="username" type="text" class="userName" name="userName" placeholder="Usuario">
        <input [(ngModel)]="password" [type]="passwordType" class="userPassword" name="userPassword" placeholder="Senha">
        <!-- <ion-icon slot="end" [name]="passwordIcon" class="passwordIcon" (click)='hideShowPassword()'></ion-icon> -->
        <button (click)="login()" class="submit">Login</button>
      </form>
    </div>

    <div class="socialLogin">
      <button class="fa fa-facebook" (click)="loginFacebook()"></button>
      <button class="fa fa-google" (click)="loginGoogle()"></button>
    </div>

    <div class="accountOptions">
      <button class="newAccount" routerLink="/register">Criar conta</button>
      <button *ngIf="username != null" class="rememberPass" (click)="resetPassword(username)" >Esqueceu a senha?</button>
    </div>
  </div>
</ion-content>