<ion-content>
  <div class="loginPage">
    <div class="logo">
      <img src="../../../assets/img/logo.png" alt="">
    </div>

    <form class="loginForm">
      <button (click)="presentActionSheet()">Selecione o tipo de acesso</button>
    </form>

    <div *ngIf="escolha === 'Aluno'">
      <form class="loginForm" [formGroup]="student">
        <input formControlName="ra" type="text" class="userName" name="userName" placeholder="RA">
        <button class="submit" (click)="searchStudent()">Buscar</button>
      </form>
    </div>

    <div *ngIf="escolha === 'Professor'">
      <form class="loginForm" [formGroup]="user">
        <input formControlName="email" type="text" class="userName" name="userName" placeholder="Usuario">
        <input formControlName="password" [type]="passwordType" class="userPassword" name="userPassword"
          placeholder="Senha">
        <!-- <ion-icon slot="end" [name]="passwordIcon" class="passwordIcon" (click)='hideShowPassword()'></ion-icon> -->
        <button (click)="login()" class="submit">Login</button>
      </form>
      <div class="socialLogin">
        <button class="fa fa-facebook" (click)="loginFacebook()"></button>
        <button class="fa fa-google" (click)="loginGoogle()"></button>
      </div>
    </div>
    <div class="accountOptions" [ngClass]="{'createClass' : escolha == '' || !escolha || escolha == 'Aluno'}">
      <button class="newAccount" routerLink="/register">Criar conta</button>
      <button *ngIf="user.value.email != null && user.value.email != ''" class="rememberPass" (click)="resetPassword(username)">Esqueceu a senha?</button>
    </div>
  </div>
</ion-content>