
<ion-header>
</ion-header>
<ion-content fullscreen>
  <div class="select-class" *ngIf="startCall == false && callFinished == false">
    <div>
      <div class="select-class-wrapper">
        <label for="class">Selecione a turma:</label>
        <select name="class" required [(ngModel)]="selectedClass">
          <option *ngFor="let turma of classes; let i = index" value="{{i}}">{{turma.nomeTurma}}</option>
        </select>
      </div>

      <div class="select-lesson-wrapper">
          <label for="class">Selecione a aula:</label>
          <select name="class" required [(ngModel)]="selectedLesson">
            <option value="{{formattedDate}}">{{formattedDate}}</option>
          </select>
      </div>
    </div>
    <button (click)="searchClass()">Buscar</button>
  </div>

  <div class="intro" *ngIf="startCall == true && callFinished == false">
    <div class="intro__top">
      <span (click) = "goBack()" class="back" ></span>
      <span>( {{ formattedDate }} )</span>
    </div>
    <h1>Ele(a) veio hoje?</h1>
    <div class="intro__bottom">
      <h3 (click)="cardWrapper.dislike()" class="nao">NÃO</h3>
      <h3 (click)="cardWrapper.like()" class="sim">SIM</h3>
    </div>
  </div>

  <div class="chamada" *ngIf="startCall == true && callFinished == false">
    <sw-card-wrapper #cardWrapper>
      <div class="card" *ngFor="let card of studentsList, let index = index" 
           swSwipeable
           [width]="350"
           [height]="130"
           [orientation]="'x'"
           (swiped)="answerCall($event, index)">
        <div class="card-img">
          <img src="https://png.pngtree.com/svg/20161205/person_25302.png" alt="Icon">
        </div>

        <div class="card-info"> 
          <h2>{{ card.nome }}</h2>
          <h4>{{ card.ra }}</h4>
        </div>
      </div>
    </sw-card-wrapper>

    <div class="message">
      <button (click)="insertCall()">Encerrar</button>
    </div>
</div>

<div class="chamada-finalizada" *ngIf="callFinished == true">

    <div class="container">
      <div class="top">
        <span (click) = "goBack()" class="back" ></span>
        <h2>Chamada finalizada!</h2>
      </div>
      <ul>
        <li *ngFor="let aluno of presenceList">
          {{ aluno.nome }} 
          <span *ngIf="aluno.presence == true" class="presente">
            presente
          </span>
          <span *ngIf="aluno.presence == false" class="faltou">
              faltou
          </span>
        </li>
      </ul>
    </div>

</div>

</ion-content>